<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      Error
    </div>
  <% end %>

  <%= form_for @room do |r| %>

  <div class="field">
    <%= r.label :title %>
    <%= r.text_field :title %>
    <%= error_tag @room, :title %>
  </div>

  <div class="field">
    <%= r.label :location %>
    <%= r.text_field :location %>
    <%= error_tag @room, :location %>
  </div>

  <div class="field">
    <%= r.label :description %>
    <%= r.text_area :description %>
    <%= error_tag @room, :description %>
  </div>

  <p>
    <%= r.label :picture %>
    <%= r.file_field :picture %>
    <%= error_tag @room, :picture %>
  </p>
  
  <div class="actions">
    <%= r.submit %>
  </div>
<% end %>
<% end %>